{% extends "base.html" %} {% block content %}
<h1>Add Stock....!</h1>
<br>

<form action="{% url 'add_stock' %}" class="d-flex" role="search" method="POST">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Add ticker" aria-label="Search" name="ticker" required maxlength="10">
    <button class="btn btn-outline-secondary" style="font-size: 15px; padding: 5px;" type="submit">Add Stock</button>
</form>

{% for x in ticker %} {{x.id}} : {{x.ticker}} | <a href="{% url 'delete' x.id %}">Delete</a><br> {%endfor%} {% endblock %}